body {
  font-family: monospace;
}
#btn {
  margin: 140px 0 0 320px;
}

.circle {
  width: 20px;
  height: 20px;
  background: blue;
  border-radius: 50%;
  position: absolute;
  transition: all 0.2s;
}

.container {
  padding: 20px;
  margin: 10px;
}
