/*font variables*/
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");
*,
*:before,
*:after {
  box-sizing: border-box;
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

h2 {
  color: #e8e8e8;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase; }

h3 {
  color: #444;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase; }

h4 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700; }

body {
  background: #fcfcfc;
  overflow-x: hidden;
  overflow-y: auto; }

p {
  font-family: "Muli", sans-serif;
  color: #757575;
  font-size: 16px;
  font-weight: 400; }

.wrapper {
  max-width: 1139px;
  margin: 0 auto; }

/* header section */
.top {
  display: flex;
  max-width: 1139px;
  height: 1152px; }

.header-info {
  max-width: 790px;
  max-height: 394px; }

.header-block1 {
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 1;
  margin: 465px 0 45px -28px; }

.top-font {
  font-family: "Montserrat", sans-serif;
  color: #444;
  font-size: 56px;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  margin: 0px 0 0 30px; }

.circle-head {
  position: relative;
  width: 191px;
  height: 191px;
  border-radius: 50%;
  background-color: #ffe400; }

.big-button {
  margin: 23px 0 40px 0;
  width: 180px;
  height: 55px;
  border: 2px solid #4a4a4a;
  text-transform: uppercase;
  background: #fcfcfc;
  transition-duration: 0.4s;
  cursor: pointer;
  color: #444;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.64px; }

.big-button:hover {
  background-color: #ffe400;
  border: 1px solid #ffe400; }

.slider {
  display: flex; }

.slidebox {
  width: 22px;
  height: 4px;
  background-color: #e3e3e3;
  margin: 0 3px 290px 0;
  transition-duration: 0.4s;
  cursor: pointer; }

.slidebox:hover {
  background-color: #444; }

.header-block2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 200px 0 0 740px;
  max-width: 1080px; }
  .header-block2 .big-circle-head {
    margin: -150px 0 0 100px;
    z-index: -2; }
  .header-block2 .little-circle-head {
    position: absolute;
    margin: 536px 0 0 -122px;
    width: 198px;
    height: 194px;
    color: #ffe400;
    font-family: "Montserrat", sans-serif;
    font-size: 268px;
    font-weight: 700;
    text-transform: uppercase; }
  .header-block2 span {
    z-index: -2; }

.menphoto {
  position: absolute;
  z-index: -1;
  margin: -128px 0 0 0; }

/*main menu row*/
.main-menu {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 79px;
  background-size: cover;
  background-color: #2a2a2a;
  z-index: 99; }
  .main-menu .logo {
    margin-right: 140px; }
  .main-menu .nav-button {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    transition: color .4s;
    margin-right: 62px; }
    .main-menu .nav-button:hover {
      color: #ffe400; }

/* about section */
.about {
  max-width: 1139px;
  max-height: 1414px;
  margin: 0 auto; }
  .about-button {
    text-align: center;
    margin-bottom: 45px; }
  .about-icons {
    color: #ffe400;
    font-size: 126px;
    font-weight: 400;
    margin: 0 0 54px 0; }
  .about-pictures-bg {
    position: absolute; }
  .about-circle {
    position: absolute;
    margin: -1200px 0 0 -800px;
    z-index: -2; }
  .about-pad {
    position: absolute;
    margin: -600px 0 0 1000px;
    z-index: -2; }

.description {
  padding: 74px 0 36px 0;
  text-align: center;
  max-width: 936px;
  height: auto;
  margin: 0 auto; }

.about-headers {
  display: flex;
  align-items: baseline;
  text-transform: uppercase; }
  .about-headers h2 {
    font-size: 91px; }
  .about-headers-move {
    margin-left: -120px;
    font-size: 36px; }

.about-info {
  max-width: 936px;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  color: #757575;
  margin: 15px 0 20px 0; }

.func-about {
  display: flex;
  margin: 20px 0 180px 0;
  z-index: 1; }
  .func-about .services {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 399px;
    background-color: #212121;
    margin-right: 30px; }

.statistic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .statistic h3 {
    font-size: 30px;
    margin-bottom: 110px; }
  .statistic p {
    font-size: 13px; }

.numbers {
  display: flex;
  max-width: 1086px;
  margin-bottom: 146px; }
  .numbers h4 {
    color: #444444;
    font-size: 46px; }
  .numbers-sec {
    max-width: 120px;
    height: auto;
    margin-right: 220px; }

/* responsive section */
.responsive {
  max-height: 696px;
  border: 1px solid #d6d6d6;
  background-color: #fafafa; }

.wrapper-resp {
  max-width: 1139px;
  margin: 0 auto; }

.resp-description {
  margin: 160px 0 118px 0;
  text-align: left;
  max-width: 541px; }

.resp-headers {
  margin-left: 0px;
  display: flex;
  align-items: baseline;
  text-transform: uppercase; }
  .resp-headers h2 {
    font-size: 70px; }
  .resp-headers-move {
    margin-left: -484px;
    font-size: 26px; }

.resp-info {
  text-align: left;
  color: #757575;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  margin: 40px 0 52px 0; }

.star-list {
  text-align: left;
  color: #757575;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 35px; }

.first-resp-pic {
  position: absolute;
  margin: -752px 0 0 -290px; }

.second-resp-pic {
  position: absolute;
  margin: -645px 0 0 560px; }

.whoweare {
  width: 100%;
  height: 100%;
  max-height: 652px;
  background-image: url(../pic/3-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }
  .whoweare-description img {
    margin: 162px 0 65px 0; }
  .whoweare-description h2 {
    color: #fdfdfd;
    font-family: "Montserrat", sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 0 41px 0; }
  .whoweare-description p {
    margin: 0 auto;
    color: #fdfdfd;
    font-family: "Muli", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 743px;
    height: auto; }
  .whoweare-buttons {
    margin: 71px 0 80px 0; }

.whoweare-circle {
  position: absolute;
  margin: -600px 0 0 500px; }

.features {
  width: 100%;
  max-height: 986px; }

.feat-headers {
  margin: 126px auto 138px auto;
  text-align: center;
  display: flex;
  align-items: baseline;
  text-transform: uppercase; }
  .feat-headers h2 {
    font-size: 91px; }
  .feat-headers-move {
    margin-left: -84px;
    font-size: 30px; }

.grid-feat {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  padding: 10px;
  margin-bottom: 170px; }
  .grid-feat .feat-box {
    max-width: 355px;
    height: auto;
    display: flex; }
    .grid-feat .feat-box-icon {
      color: #fff;
      font-size: 28px;
      font-weight: 400; }
      .grid-feat .feat-box-icon-circle-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 67px;
        height: 66px;
        background-color: #73c8b7;
        border-radius: 50%; }
      .grid-feat .feat-box-icon-circle-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 67px;
        height: 66px;
        background-color: #31aae2;
        border-radius: 50%; }
      .grid-feat .feat-box-icon-circle-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 67px;
        height: 66px;
        background-color: #c183d6;
        border-radius: 50%; }
      .grid-feat .feat-box-icon-circle-4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 67px;
        height: 66px;
        background-color: #eb768c;
        border-radius: 50%; }
      .grid-feat .feat-box-icon-circle-5 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 67px;
        height: 66px;
        background-color: #73c8b7;
        border-radius: 50%; }
      .grid-feat .feat-box-icon-circle-6 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 67px;
        height: 66px;
        background-color: #31aae2;
        border-radius: 50%; }
      .grid-feat .feat-box-icon-circle-7 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 67px;
        height: 66px;
        background-color: #ebd175;
        border-radius: 50%; }
      .grid-feat .feat-box-icon-circle-8 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 67px;
        height: 66px;
        background-color: #718ac7;
        border-radius: 50%; }
      .grid-feat .feat-box-icon-circle-9 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 67px;
        height: 66px;
        background-color: #4be3a4;
        border-radius: 50%; }
    .grid-feat .feat-box-text {
      margin-left: 21px; }
      .grid-feat .feat-box-text h4 {
        color: #444;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase; }
      .grid-feat .feat-box-text p {
        margin-top: 30px;
        color: #757575;
        font-family: "Muli", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px; }

.work {
  width: 100%;
  max-width: 1139px; }
  .work-yellow {
    background-color: #ffe400;
    background-size: cover;
    padding: 107px 0 60px 0; }

.work-headers {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: baseline;
  text-transform: uppercase; }
  .work-headers h2 {
    font-size: 91px; }
  .work-headers-move {
    margin-left: -84px;
    font-size: 30px; }

/* nav menu work section */
.work-nav {
  display: flex;
  justify-content: center; }

.menu {
  display: flex; }

.menu li {
  text-align: center;
  margin: 0 9px 10px 0;
  padding: 10px 0;
  width: 101px;
  max-height: 35px;
  border: 1px solid #000;
  color: #000; }

/* grid pictures in work section*/
.grid-pictures {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0px; }

.box {
  position: relative;
  max-width: 481px;
  max-height: 311px; }
  .box-text {
    margin-left: 10px;
    text-align: left;
    color: #444;
    font-family: monospace;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 272px;
    margin-top: 20px; }
  .box-text p {
    font-size: 12px; }
  .box-image {
    display: block;
    width: 100%;
    height: auto; }
  .box-overlay {
    width: 100%;
    height: 66px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    color: #444;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    text-align: center; }
  .box-link {
    position: absolute;
    display: flex;
    border-radius: 20px;
    top: -28px;
    right: 10px;
    max-width: 96px;
    max-height: auto;
    background-color: #fff;
    padding: 0 5px; }
  .box-link-circle {
    margin: 10px 5px 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    width: 31px;
    height: 31px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 50%;
    transition: .5s ease; }
  .box:hover .box-overlay {
    opacity: 0.85;
    color: #444; }
  .box-link-circle:hover {
    background: #ffe400;
    opacity: 1; }

.people-pic img {
  max-width: 936px;
  max-height: 811px;
  margin: 60px 0 0 -440px; }

.serv-headers {
  display: flex;
  justify-content: center;
  margin: 160px 0 150px 0;
  display: flex;
  align-items: baseline;
  text-transform: uppercase; }
  .serv-headers h2 {
    font-size: 91px; }
  .serv-headers-move {
    margin-left: -480px;
    font-size: 30px; }

.serv {
  display: flex; }

.service-names {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  padding: 0px;
  margin-bottom: 128px; }
  .service-names-box {
    max-width: 214px;
    max-height: 168px;
    text-align: center; }
    .service-names-box ion-icon {
      color: #444444;
      font-size: 48px;
      font-weight: 400;
      line-height: 22px; }
    .service-names-box h4 {
      color: #444444;
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 40px 0 40px 0; }
    .service-names-box p {
      color: #757575;
      font-family: "Muli", sans-serif;
      font-size: 16px;
      font-weight: 400; }

/*# sourceMappingURL=master.css.map */
